.thumb, #previewImage, img
  max-width: 50vw
  max-height: 50vh

.bg-dark
  background-image: linear-gradient( 135deg, #0D25B9 10%, #FD6585 100%)

.rose
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%)
  border-color: white
  box-shadow: 2px 2px 0px #aaaaaa6b
